@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

nav {
    width: 100%;
    background: rgba(124, 124, 124, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    top: 0;
    position: fixed;
    z-index: 10000;
    transition: background-color 0.5s ease;
}

header {
    background-size: 100%;
    height: 633px;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.head-cont {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: 35%;
    position: relative;
}

.search input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #D1D5DB;
    border-radius: 6px;
    height: 36px;
    padding-left: 20px;
    font-size: 16px;
}

.search input::placeholder {
    color: white;
}

.search img {
    position: absolute;
    right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 27px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.about-top {
    width: 85%;
    margin: 0 auto;
    padding: 200px 0;
}

.about {
    width: 35%;
    background: rgba(124, 124, 124, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
}

.rating {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-top h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

header button {
    background-color: #BE123C;
    border-radius: 6px;
    padding: 8px 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: white;
    border: none;
    margin-top: 16px;
}

#container {
    width: 85%;
    margin: 0 auto;
}

#container h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

#card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

#card-container img {
    width: 100%;
}

.card {
    width: 20%;

}

.card span {
    font-size: 12px;
    font-weight: 700;
    color: #9CA3AF;
}

.card h3 {
    font-size: 20px;
    margin: 5px 0;
}

.imdb {
    width: 35px;
    height: 17px;
}

.imdb-and-raiting {
    display: flex;
    float: left;
}

.imdb-and-raiting span {
    font-size: 12px;
    color: black;
    margin-left: 10px;
}

.genre {
    text-align: left;
    margin-top: 30px;
    color: #9CA3AF;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {

    .logo img {
        width: 100%;
    }

    .logo {
        width: 30%;
    }

    .head-cont {
        width: 95%;
    }

    .search {
        width: 35%;
    }

    .search input::placeholder {
        font-size: 10px;
    }

    .menu {
        gap: 10px;
    }

    .about-top {
        width: 95%;
    }

    .about {
        width: 100%;
    }
    header{
        margin-bottom: 0;
    }

    #container {
        width: 95%;
        margin: 0 auto;
    }

    #card-container {
        display: block;
    }

    #card-container img {
        width: 100%;
    }

    .card {
        width: 100%;
        margin-top: 20px;
    }
    .card h3 {
        width: 70%;
    }
}